
<div class="container-fluid">
    <div class ="well"><p>Android</p></div>
    <div class="row">
        <div class="col-sm-4 bottomgap"><div class="block blk">
                <img class="img-responsive" src ="images/andro1.jpg" alt ="one plus x ">
                <h3>One plus X</h3>
                <ul><li>Cost:Rs 23,819</li>
                    <li>Processor:Snapdragon 400s ultra</li>
                    <li>RAM:6gb</li>
                    <li>Camera:18mp</li>
                    <li>Memory:16GB</li>
                </ul>
            </div></div>
        <div class="col-sm-4 bottomgap"><div class="block blk">
                <img class="img-responsive" src ="images/andro2.jpg" alt ="one plus two ">
                <h3>One plus Two</h3>
                <ul><li>Cost:Rs 19,586</li>
                    <li>Processor:Snapdragon 600s quad core</li>
                    <li>RAM:4gb</li>
                    <li>Camera:18mp</li>
                    <li>Memory:16GB</li>
                </ul>   </div></div>
        <div class="col-sm-4 bottomgap"><div class="block blk">
                <img class="img-responsive" src ="images/andro3.jpg" alt ="nexus 5x ">
                <h3>LG Nexus 5x</h3>
                <ul><li>Cost:Rs22,345</li>
                    <li>Processor:Snapdragon 400s octa core</li>
                    <li>RAM:4gb</li>
                    <li>Camera:13mp</li>
                    <li>Memory:16GB</li>
                </ul> 
            </div></div></div>
    <div class="row">
        <div class="col-sm-4 bottomgap"><div class="block blk">

                <img class="img-responsive" src ="images/andro4.jpg" alt ="moto x play">
                <h3>Moto X Play</h3>
                <ul><li>Cost:Rs19,999</li>
                    <li>Processor:Snapdragon 400s octa core</li>
                    <li>RAM:4gb</li>
                    <li>Camera:18mp</li>
                    <li>Memory:32GB</li>
                </ul> 
            </div></div>
        <div class="col-sm-4 bottomgap"><div class="block blk">

                <img class="img-responsive" src ="images/andro5.jpeg" alt ="moto x style">
                <h3>Moto X Style</h3>
                <ul><li>Cost:Rs31,323</li>
                    <li>Processor:Snapdragon 800s octa core</li>
                    <li>RAM:6gb</li>
                    <li>Camera:21mp</li>
                    <li>Memory:32GB</li>
                </ul> 
            </div></div>
        <div class="col-sm-4 bottomgap"><div class="block blk">

                <img class="img-responsive" src ="images/andro6.jpg" alt ="Sony Xperia Z5 ">
                <h3>Sony Xperia Z5</h3>
                <ul><li>Cost:Rs48,789</li>
                    <li>Processor:Snapdragon 890 octa core</li>
                    <li>RAM:8gb</li>
                    <li>Camera:26mp</li>
                    <li>Memory:64GB</li>
                </ul> 
            </div></div>

    </div>
</div>
