
<div class="container-fluid">
    <div class ="well"><p>IOS</p></div>
    <div class="row">
        <div class="col-sm-4 bottomgap"><div class="block blk">
                <img class="img-responsive" src ="images/ios1.jpg" alt ="iphone 6s plus ">
                <h3>Iphone 6s plus</h3>
                <ul><li>Cost:Rs 74,129</li>
                    <li>Processor:A9 M9</li>
                    <li>RAM:6g</li>
                    <li>Camera:15mp</li>
                    <li>Memory:64GB</li>
                </ul>
            </div></div>
        <div class="col-sm-4 bottomgap"><div class="block blk">
                <img class="img-responsive" src ="images/ios2.jpg" alt ="iphone 6s ">
                <h3>Iphone 6s</h3>
                <ul><li>Cost:Rs 48,789</li>
                    <li>Processor:A9 M8</li>
                    <li>RAM:4gb</li>
                    <li>Camera:12mp</li>
                    <li>Memory:64GB</li>
                </ul>   </div></div>
        <div class="col-sm-4 bottomgap"><div class="block blk">
                <img class="img-responsive" src ="images/ios3.jpg" alt ="iphone 6 plus">
                <h3>Iphone 6 plus</h3>
                <ul><li>Cost:Rs66,129</li>
                    <li>Processor:A9 M9</li>
                    <li>RAM:6gb</li>
                    <li>Camera:13mp</li>
                    <li>Memory:64GB</li>
                </ul> 
            </div></div></div>
    <div class="row">
        <div class="col-sm-4 bottomgap"><div class="block blk">

                <img class="img-responsive" src ="images/ios4.jpg" alt ="iphone 6">
                <h3>Iphone 6</h3>
                <ul><li>Cost:Rs39,999</li>
                    <li>Processor:A9 M8</li>
                    <li>RAM:4gb</li>
                    <li>Camera:12mp</li>
                    <li>Memory:64GB</li>
                </ul> 
            </div></div>
        <div class="col-sm-4 bottomgap"><div class="block blk">

                <img class="img-responsive" src ="images/ios5.jpg" alt ="iphone 5s">
                <h3>Iphone 5s</h3>
                <ul><li>Cost:Rs37,323</li>
                    <li>Processor:A8 M8</li>
                    <li>RAM:4gb</li>
                    <li>Camera:9mp</li>
                    <li>Memory:32GB</li>
                </ul> 
            </div></div>
        <div class="col-sm-4 bottomgap"><div class="block blk">

                <img class="img-responsive" src ="images/ios6.jpg" alt ="iphone 5c">
                <h3>Iphone 5c</h3>
                <ul><li>Cost:Rs 25,789</li>
                    <li>Processor:A6 M8</li>
                    <li>RAM:4gb</li>
                    <li>Camera:5mp</li>
                    <li>Memory:16GB</li>
                </ul> 
            </div></div>

    </div>

</div>

