.jumbotron
{
    background: transparent !important;
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    margin-bottom: 0px !important;
}



.carousel-inner > .item > img,
.carousel-inner > .item > a > img 
{
    width: 70%;
    margin: auto;
}

.topBar 
{
    height: 25px !important;
    font-size: 20px;
    padding-top:10px;


}
.topBar img{
    height: 22px;
    width: 22px;
}


.topBar a
{
    color: white; 
    float: right !important;
}

.topBar a:hover
{

    padding-right: 10px !important;
    font-size: 20px;
    font-weight: bold;
    background-color: #222 !important;
    text-decoration: none;
    color:whitesmoke ;
    transition: all 1s;

}

.topBar a:active
{
    background-color: #222 !important;
}

#maincontent .row
{
    opacity: 0;
}
.form-control
{
    min-width:400px;
    min-height:33px;
}

#row1,#row3{
    background: #222;
    padding-bottom: 15px;
}

#row1 > .well , #row3 > .well
{
    border-top:none;
    border-left: none;
    margin-left: 25px;
    margin-right: 25px;
    border-right: none;
    border-radius: 0px;
}

#row2,
#row2 > .col-sm-7 > .block,
#row2 > .col-sm-5 > .block{
    background: white !important;
    border: none;

}
#row2 > .well
{
    background: white !important;
    margin-left: 25px;
    margin-right: 25px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #222;
    border-radius: 0px;
}

#row2 > .well p,
#row2  .block > p, 
#row2 h3
{
    color:#222 !important;
}

.well
{
    margin-top: 15px;
    height:35px !important;
    font-size: 22px;
    padding: 0px !important;
    background: #222 !important;
    color: white;
}

.block
{
    border: 1px solid #222;
    padding: 10px;
    border-radius: 5px;
    background-color: #222;
    height: 300px;

}

.block img
{ 
    width: 220px;
    height: 280px;
    float: left;
    padding: 10px;

}

.block h3 
{  text-align: center; 
   color: white;
   font-size: 20px;

}

.well p
{
    text-align:center;
    color:white;
}

.block p 
{
    text-align:justify;
    color:white;
}

.item img
{
    width:850px;
    height:356px;
}

.dropdown-toggle
{
    padding: 0px !important;
    margin: 0px !important;
    color:white !important;

}

.dropdown-menu
{
    padding: 0px !important;
    margin: 10px !important;
    background-color: #222 !important;
    border-color: #222 !important;

}

#userName, #passWord,#login
{   
    margin-top: 5px !important;
    min-height: 15px !important;
    min-width: 150px !important;
    font-size: 12px;

}

.dropdown-menu a
{
    color: white !important;
    margin-right: 25px !important;


}

.dropdown-menu a:hover
{
    background-color: #222 !important;
    color:white !important;
    font-weight:normal;
    transition: all 1s;
    font-size: 15px !important;

}



.navbar-nav
{ 
    margin-right:25px !important;
    margin-top: 5px !important;
}

.col-sm-7 > .block > img
{
    width: 530px;
    height: 350px;
    margin-top: 10px;
}

.col-sm-7 >  .block,
.col-sm-7 ~ .col-sm-5 >.block
{

    height: 380px;
}
.col-sm-7 ~ .col-sm-5 >.block > img
{
    height: 330px;
    width: 320px;
}

#footer > .well
{
    margin-bottom: 0px !important;
    height: 100px !important;

}

#footer > .well > img
{ 

}

.bottomgap
{
    margin-bottom: 20px !important;
}

.bottomgap > .block
{

    height: 350px;
    background: white;
    border: none;
}

.bottomgap > .block > h3 ,
.bottomgap > .block > li,
.bottomgap > .block > ul
{  color: #222;
   list-style: none;}

.blk img
{
    height:300px !important;
    width:200px !important;
    padding: 10px;
}

.blk img:hover
{
    transform: rotate(2deg);
}

#livesearch
{
max-height:250px;
border:1px solid #222;
overflow:auto;
}

#livesearch  img
{
    height:40px !important;
    width:28px !important;
    float:right;
    padding-right: 10px;
    vertical-align: bottom;
}
#livesearch p{
    height: 55px;
    padding-left: 10px;
}

#livesearch p:hover{
    padding-left: 25px;
   font-weight: bold;
    background:#222;
    color:white;
    
    transition: all 1s;
}
#livesearch
{
    width: 400px;
    border: 2px !important;
    border-color: #222 !important;
    z-index: 1;
    background: white;
}

#footer .modal-content,#footer .modal-content p 
{
	color: black;
	
}

#footer .row
{
	margin:0px !important;
	
}