
<div class="container-fluid">
    <div class ="well"><p>Windows</p></div>
    <div class="row">
        <div class="col-sm-4 bottomgap"><div class="block blk">
                <img class="img-responsive" src ="images/win1.jpg" alt ="lumia 950 xl ">
                <h3>Lumia 950 XL</h3>
                <ul><li>Cost:Rs 49,399</li>
                    <li>Processor:Snapdragon 810 octa core</li>
                    <li>RAM:4gb</li>
                    <li>Camera:20mp</li>
                    <li>Memory:32GB</li>
                </ul>
            </div></div>
        <div class="col-sm-4 bottomgap"><div class="block blk">
                <img class="img-responsive" src ="images/win2.jpg" alt ="lumia 950">
                <h3>Lumia 950</h3>
                <ul><li>Cost:Rs 43,789</li>
                    <li>Processor:Snapdragon 808 octa core</li>
                    <li>RAM:3gb</li>
                    <li>Camera:18mp</li>
                    <li>Memory:32GB</li>
                </ul>   </div></div>
        <div class="col-sm-4 bottomgap"><div class="block blk">
                <img class="img-responsive" src ="images/win3.jpg" alt ="lumia 1520">
                <h3>Lumia 1520</h3>
                <ul><li>Cost:Rs 35,129</li>
                    <li>Processor:Snapdragon 700s octa core</li>
                    <li>RAM:3gb</li>
                    <li>Camera:15mp</li>
                    <li>Memory:32GB</li>
                </ul> 
            </div></div></div>
    <div class="row">
        <div class="col-sm-4 bottomgap"><div class="block blk">

                <img class="img-responsive" src ="images/win4.jpg" alt ="lumia 1020">
                <h3>Lumia 1020</h3>
                <ul><li>Cost:Rs42,999</li>
                    <li>Processor:Snapdragon 600s octa core</li>
                    <li>RAM:3gb</li>
                    <li>Camera:41mp</li>
                    <li>Memory:32GB</li>
                </ul> 
            </div></div>
        <div class="col-sm-4 bottomgap"><div class="block blk">

                <img class="img-responsive" src ="images/win5.jpg" alt ="lumia 640 xl">
                <h3>Lumia 640 XL</h3>
                <ul><li>Cost:Rs28,323</li>
                    <li>Processor:Snapdragon 600s quad core</li>
                    <li>RAM:3gb</li>
                    <li>Camera:12mp</li>
                    <li>Memory:32GB</li>
                </ul> 
            </div></div>
        <div class="col-sm-4 bottomgap"><div class="block blk">

                <img class="img-responsive" src ="images/win6.jpg" alt ="lumia 830">
                <h3>Lumia 830</h3>
                <ul><li>Cost:Rs 21,789</li>
                    <li>Processor:Snapdragon 610 quad core</li>
                    <li>RAM:3gb</li>
                    <li>Camera:8mp</li>
                    <li>Memory:32GB</li>
                </ul> 
            </div></div>

    </div>
</div>
